<form class="d-flex justify-content-center align-items-center flex-column"
#custForm="ngForm" (ngSubmit)="onLogin(custForm)" ngNativeValidate>
    
    <h2>LOGIN</h2>
    
    <div class="col-4 mb-3 mt-3">
      <input ngModel name="userid" type="text" class="form-control" id="userid" placeholder="Username">
    </div>

    <div class="col-4">
        <input ngModel name="password" type="password" class="form-control" id="password" placeholder="Password">
    </div>

    <div class="col-4 mt-3">
      <button type="submit" class="form-control btn btn-primary mb-3">Confirm Identity</button>
    </div>
    <p>{{errMsg}}</p>
  </form>

