

<nav class="navbar navbar-expand-lg" style="background-color:rgb(255, 255, 255)">
  <div class="container-fluid nav-align">

    <a class="navbar-brand" href="#">Mail Order Pharmacy</a>
    
        
      <ul class="navbar-nav links-center">
        <li class="nav-item">
          <a class="nav-link active" routerLink='home' aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink='drugs' aria-current="page" href="#">Available Drugs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='search' href="#">Search Drug</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='subscribe' href="#">Subscribe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='subscriptions' href="#">Subscriptions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='refillStatus' href="#">Refill Status</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='refilldue' href="#">Refill Dues</a>
        </li>
      </ul>
    
      <div>
        <button *ngIf="this.serve.isLoggedIn()" class="btn btn-light logout" (click)='logout()' href="#">Logout</button>
      </div>

  </div>
</nav>
<div class="mt-3">
 
<div class="container mt-2">


  <router-outlet></router-outlet>
</div>


<div class="footer bg-dark">
  <p>Site Designed and Developed By Pod-3 &copy; 2022</p>
</div>