

<nav class="navbar bg-dark">
  <div class="nav-align">

    <a class="navbar-brand text-light" routerLink="/">MOPh</a>
    
        
      <ul class="navbar-nav links-center">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="activelink" routerLink='home' aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="activelink" routerLink='drugs' aria-current="page">Available Drugs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="activelink" routerLink='search'>Search Drug</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="activelink" routerLink='subscribe'>Subscribe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="activelink" routerLink='subscriptions'>Subscriptions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="activelink" routerLink='refillStatus'>Refill Status</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="activelink" routerLink='refilldue'>Refill Dues</a>
        </li>
      </ul>
    
      <div>
        <button *ngIf="this.serve.isLoggedIn()" class="btn btn-light logout" (click)='logout()'>Logout</button>
        <button *ngIf="!this.serve.isLoggedIn()" class="btn btn-primary" (click)="goLogin()">Login</button>
      </div>

  </div>
</nav>
<div class="main">


  <router-outlet></router-outlet>
</div>


<div class="footer bg-dark">
  <p>Website Developed By Pod-3.</p>
</div>